   .sales {
       background-color: #FFD8CC;
       width: 100%;
       margin-top: 10px;
   }
   
   header {
       background-color: rgb(247, 46, 140);
       height: 100%;
       width: 100%;
   }
   
   header img {
       width: 40%;
   }
   
   header nav {
       float: right;
       padding-top: 55px;
   }
   
   header nav ul li {
       display: inline-block;
       padding: 10px;
       font-size: 30px;
       font-family: fantasy;
       font-weight: bold;
       align-items: center;
       border: solid;
   }
   
   a {
       text-decoration: none;
   }
   
   a:hover {
       text-decoration: none;
       color: crimson;
   }
   
   main {
       width: 100%;
       height: 100%;
   }
   
   main h1 {
       color: tomato;
       font-size: 40px;
       padding-top: 10px;
       font-family: Rockwell;
   }
   
   table {
       border-collapse: collapse;
       border-spacing: 30px;
       margin-left: 10px;
       font-size: 19px;
   }
   
   table,
   th,
   td {
       width: 50%;
       border: 2px solid black;
   }
   
   th,
   td {
       padding: 10px;
       text-align: left;
   }
   
   main div {
       padding-top: 10px;
   }
   
   main p {
       padding-top: 10px;
       font-size: 20px;
       color: tomato;
       font-family: Rockwell;
   }
   
   main ul {
       list-style: disc;
       padding-top: 10px;
       padding-left: 30px;
   }
   
   footer {
       position: absolute;
       margin-top: 10px;
       height: 100px;
       display: flex;
       font-size: 30px;
       background-color: rgb(247, 46, 140);
       width: 100%;
       justify-content: center;
       align-items: center;
   }